### Fcitx
# To type Japanese
# Reference:
# https://wiki.archlinux.org/index.php/Fcitx
#
# Set environment variables for IM modules
export GTK_IM_MODULE=fcitx
export QT_IM_MODULE=fcitx
export XMODIFIERS="@im=fcitx"
# Run automatically the fcitx process
fcitx &

### xset
# Reference:
# https://wiki.archlinux.org/index.php/Xorg/Keyboard_configuration#Using_xset
#
# Adjusting typematic delay and rate
xset r rate 170 50
